body{
  
  &.results-main, &.home{
    
    header .menu-wrapper nav.nav-menu ul.menu-items{
    
      li.menu-item.current-item a{
        border-color: $details-grey;
      }
      
      li.menu-item.has-sub-menu:hover{
        background-color: $main-black;
      }
      
      li.menu-item ul.sub-menu li{
        
        background-color: $main-black;
      }
    }
  }
  
  &.results-data, &.data{
    
    header .menu-wrapper nav.nav-menu ul.menu-items{
    
      li.menu-item.current-item a{
        border-color: $data-color;
      }
      
      //li.menu-item.has-sub-menu:hover, {
      //  background-color: $data-color;
      //}
      
      
      li.menu-item ul.sub-menu li{
        
        background-color: $data-color;
      }
    }
  }
  
  &.results-pubs, &.pubs{
    
    header .menu-wrapper nav.nav-menu ul.menu-items{
    
      li.menu-item.current-item a{
        border-color: $pubs-color;
      }
      
      li.menu-item.has-sub-menu:hover{
        background-color: $pubs-color;
      }
      
      
      li.menu-item ul.sub-menu li{
        
        background-color: $pubs-color;
      }
    }
  }
  
  &.results-lab, &.lab{
    
    header .menu-wrapper nav.nav-menu ul.menu-items{
    
      li.menu-item.current-item a{
        border-color: $lab-color;
      }
      
      li.menu-item.has-sub-menu:hover{
        background-color: $lab-color;
      }
      
      
      li.menu-item ul.sub-menu li{
        
        background-color: $lab-color;
      }
    }
  }
  
  .home-header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  
  header{

    &.fixed {
      width: $layout-fixed-width;
      margin-left: auto;
      margin-right: auto;
      min-width: 1000px;
    }


    z-index: 2;
    @include position(absolute, 0 0 null 0);
    
    img.logo-image{
      
      height: 100px;
      margin-top: 50px;
      margin-left: 50px;
    }
    
    .menu-wrapper{
      
      @include position(absolute, 0 0 null null);
      margin-top: 38px;
      margin-right: 50px;
      
      nav.nav-menu{
        
        display: inline-block;
        float: left;
        
        ul.menu-items{
          
          li.menu-item{
            
            height: 45px;
            font-weight: 400;
            font-size: 2rem;
            color: $main-black;
            letter-spacing: .005em;
            line-height: 1.2;
            float: left;
            padding-left: 12px;
            padding-right: 12px;
            position: relative;
            // margin-right: 23px;
            
            &.has-sub-menu{
              &:hover {
                background: $data-color;
                a {color: #fff;}
              }
              &:hover > ul{
                  left:auto;
                  display: block;
                  li > a {color:#fff;}
              }
              
            }
            
            ul{
              display:none;
              min-width: 170px;
              list-style:none;
              position:absolute;
              right:0;
              margin:0;
              padding: 0;
              overflow-x: auto;
                -webkit-transiton: opacity 0.2s;
                -moz-transition: opacity 0.2s;
                -ms-transition: opacity 0.2s;
                -o-transition: opacity 0.2s;
                -transition: opacity 0.2s;
                
                li{
                    position:relative;
                    background:$data-color;
                    float:none;
                    border-bottom: 1px solid #ebebeb8a;
                    a {
                        font-size: 1.4rem;
                        padding: 0 10px 0 10px;
                        span {&:hover{ opacity:0.7} }
                    }
                }
            }

            a{
              
              color: inherit;
              vertical-align: middle;
              line-height: 43px;
              
              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -o-transition: all .2s ease-in-out;
              
              &:hover{
                text-decoration: none;
                color: inherit;
                
                opacity: .5;
              }
            }
            
            ul.sub-menu{
              
              display: none;
              position: absolute;
              padding: 0;
              top: 45px;
              right: 0;
              line-height: 18px;
              
              li{
            
                padding-top: 11px;
                padding-bottom: 11px;
                padding-left: 15px;
                padding-right: 15px;
                margin-top: 1px;
                
                a{
                  font-size: 1.4rem;
                  padding: 0px;
                  vertical-align: middle;
                  line-height: 2.3;
                }
              }
            }
            
            &.current-item{
              
              a{
                
                border-bottom: 3px solid $neutral-grey;
                padding-left:2px;
                padding-right:2px;
              }
            }

            &#menu-item-lab, &#menu-item-news{
              
              margin-right: 30px;
              padding-right: 0;
            }
            
            &.aux-item{
              margin-left:20px;
            }

            &.aux-item:last-of-type{
              margin-right: 25px;
              margin-left:0px;
            }
          }
        }
      }
      
      .language-selector{
        
        display: inline-block;
        float: left;
        
        a{
          padding:0;
          display:block;
          height: 45px;
          font-weight: 400;
          font-size: 2rem;
          color: $main-black;
          letter-spacing: .005em;
          float: left;
          padding-left: 15px;
          padding-right: 15px;
          vertical-align: middle;
          line-height: 43px;
          
          
          
          &:hover{
            text-decoration: none;
            cursor: pointer;
          }
        }
        ul{
          display:none;
          list-style:none;
          position:relative;
          margin:0;
          padding: 0;
          
            
            li{
                position:relative;
                background: #fff;
                width: 100%;
                
                float:none;
                a {
                  span {&:hover{ opacity:0.7} }
                }
            }
        }
        
        &:hover {
          background: $data-color;
          a{  color: #fff;}
        }
        &:hover > ul{
            display: block;
            li{
            color: #fff;
            }
        }
        
      }
      
      
      
      .account-item{

        display: inline-block;
        float: left;
        margin-right:10px;
        a{
          
          height: 45px;
          font-weight: 400;
          font-size: 2rem;
          color: $main-black;
          letter-spacing: .005em;
          padding-left: 14px;
          padding-right: 14px;
          vertical-align: middle;
          line-height: 43px;
          //margin-right:24px;
          //margin-left:12px;
        
          transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
                        
          img{
            height: 30px;
            margin-bottom: 8px;
          }
          
         }
         ul{
          display:none;
          list-style:none;
          position:absolute;
          margin:0;
          padding: 0;
          overflow-x: auto;
            -webkit-transiton: opacity 0.2s;
            -moz-transition: opacity 0.2s;
            -ms-transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            -transition: opacity 0.2s;
            
            li{
                position:relative;
                background:$data-color;
                float:none;
                border-bottom: 1px solid #ebebeb8a;
                a {
                    font-size: 1.4rem;
                    padding: 0 10px 0 10px;
                    span {&:hover{ opacity:0.7} }
                }
            }
        }
        &:hover {
          background: $data-color;
          .account-icon{
            filter:contrast(1000%) invert(100%);
          }
        }
        &:hover > ul{
            left:auto;
            right:45px;
            display: block;
            li > a {color:#fff;}
        }
         .account-icon{
            border-radius: 50px;
            img{
              margin-bottom: 5px;
            }
         }
        
        &.logged-off{
          .account-icon{opacity:0.5;}
        } 
      }
      .search-item{

        display: inline-block;
        float: left;
        position: relative;
        top: 2px;
        
        a{
          
          // display: block;
          height: 45px;
          border-radius: 50%;
          font-weight: 400;
          font-size: 1.6rem;
          text-align: center;
          background-color: $main-black;
          color: white;
          letter-spacing: .004em;
          // line-height: 1.2;
          float: left;
          // padding-left: 15px;
          // padding-right: 15px;
          vertical-align: middle;
          line-height: 33px;
          height: 35px;
          width: 35px;
          line-height: 35px;
          
          transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
        
          &:hover{
            opacity: .5;
          }
        }
       }
 
  }
 }
}
