body{
    
  &.home{
    
    section{
      
      div.landing-section{
        
        background: white url('../images/jpg/photo1-100.jpg') center/cover no-repeat;
        &:after{

        }
      }
    }
  }
  
  &.data{
    
    section{
      
      div.landing-section{
        
        background: white url('../images/jpg/photo2-100.jpg') center/cover no-repeat;
        &:after{

        }
        
        .search-form-wrapper .landing-search-form .main-form-content{
          
          border-bottom-color: $data-color;
        }
        
        .search-form-wrapper .landing-search-form button.landing-search-button{
          background-color: $data-color;
        }
      }
    }
  }

  &.pubs{
    
    section{
      
      div.landing-section{
        
        background: white url('../images/jpg/photo3-100.jpg') center/cover no-repeat;
        &:after{

        }
        
        .search-form-wrapper .landing-search-form .main-form-content{
          
          border-bottom-color: $pubs-color;
        }
        
        .search-form-wrapper .landing-search-form button.landing-search-button{
          background-color: $pubs-color;
        }
      }
    }
  }

  &.lab{
    
    section{
      
      div.landing-section{
        
        height: 55vh;
        min-height: 470px;
        
        background: white url('../images/jpg/photo4-100.jpg') center/cover no-repeat;
        &:after{

        }
        
        .search-form-wrapper .landing-search-form .main-form-content{
          
          border-bottom-color: $lab-color;
        }
        
        .search-form-wrapper .landing-search-form button.landing-search-button{
          background-color: $lab-color;
        }
      }
    }
  }

  section{
    
    div.landing-section{
      
      z-index: 1;
      height: 80vh;
      min-height: 600px;
      position: relative;
      margin: 15px 15px 0 15px;
      
      &:after{
        
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // background-image: url('../images/jpg/photo1-100.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        // background-position: -1px 51%;
        opacity: .6;
        // content: '';
      }
      
      .search-form-wrapper{
        
        position: relative;
        display: block;
        max-width: 100%;
        margin: auto;
        width: 60%;
        min-width: 400px;
        
        @include position(absolute, 50% null null 50%);
        // @include transform(translate(-50%, -50%)));
        
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        
        
        .landing-search-form{
          
          
          .main-form-content{
            
            width: calc(100% - 175px); 
            border-bottom-style: solid;
            border-bottom-width: 3px;
            position: relative;
            
            input.landing-search-text{
              
              border: none;
              background-color: transparent;
              font-size: 17px;
              font-size: 20px;
              padding: 0 15px 0px 15px;
              width: 100%;
              height: 55px;
              line-height: 2.3;
              letter-spacing: .025em;
              color: $main-black;
              font-weight: 400;
              
              &::-ms-input-placeholder{
                  
                font-weight: 400;
                padding-bottom: 0;
              }
              
              &:-ms-input-placeholder{
                  
                font-weight: 400;
                padding-bottom: 0;
              }
              
              &::placeholder{
                  
                font-weight: 400;
                padding-bottom: 0;
              }
              
              &::-moz-selection{
                color: white;
                background-color: #BFBFBF;
              }
              
              &::selection{
                color: white;
                background-color: #BFBFBF;
              }
              
              &:focus{
                
                border: none;
              }
            }
            
            .domain-pills{
              
              &.short{
                
                width: 250px;
              }
              
              margin-left: 12px;
              padding-top: 10px;
              width: 100%;
              z-index: 3;
              position: absolute;
              left: 0;
              // bottom: 0;
              // transform: translateY(-100%);
              
              .filter-pill{
                
                cursor: pointer;
                user-select: none;
                margin-right: 8px;
                color: white;
                font-size: 14px;
                padding: 6px 10px;
                height: 25px;
                line-height: 15px;
                float: left;
                display: inline-block;
                border-radius: 17.5px;
                background-color: #BFBFBF;
                position: relative;
                
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                
                &:hover{

                  opacity: .5;
                }
                
                &:after{
                  
                  content: '\f00d';
                  display: inline-block;
                  margin-left: 4px;
                  font-family: 'FontAwesome';
                  font-size: 12px;
                  line-height: 15px;
                  vertical-align: middle;
                  position: relative;
                  top: -1px;
                  
                }
                
                &:last-child{
                  margin-right: none;
                }
                
                &.selected{
                  
                  &:after{
                    
                    content: '\f00c';
                  }
                  
                  &.pill-data{
                    
                    background-color: $data-color;
                  }
                  
                  &.pill-pubs{
                    
                    background-color: $pubs-color;
                  }
                  
                  &.pill-lab{
                    
                    background-color: $lab-color;
                  }
                }
              }
              
              .advanced-search-link{
                
                &.hidden{
                  
                  display: none;
                }
                
                cursor: pointer;
                user-select: none;
                position: absolute;
                top: 0;
                right: 0;
                
                z-index: 0 !important;
                
                margin-right: 12px;
                margin-top: 13px;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.3;
                letter-spacing: .05em;
                
                
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                
                &:hover{

                  opacity: .5;
                }
              }
            }
            
            .closable{
              display: none;
              
              &.visible{
                
                display: block;
              }
              
              z-index: 1;
              position: absolute;
              left: 0;
              width: 100%;
              top: 58px;
              background-color: white;
              
              .close-btn{
                
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 12px;
                margin-top: 10px;
                font-size: 14px;
                color: $main-black;
                letter-spacing: .05em;
                line-height: 1.4;
                cursor: pointer;
                
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                
                &:hover{

                  opacity: .5;
                }
                
                &:after{
                  
                  content: 'X';
                }
              }
              
              .search-options{
                
                position: relative;
                margin-top: 50px;
                padding-left: 25px;
                padding-right: 25px;
                
                label{
                  
                  float: left;
                  width: calc(50% - 50px);
                  // height: 60px;
                  font-weight: 500;
                  font-size: 15px;
                  color: $main-black;
                  letter-spacing: .025;
                  line-height: 1;
                  margin-left: 25px;
                  margin-right: 25px;
                  position: relative;
                  
                  .label-content{
                    
                    padding-left: 10px;
                  }
                  
                  input{
                    
                    padding: 0 10px;
                    font-weight: 300;
                    width: 100%;
                    border: 1px solid #4D4D4D;
                    background-color: #EBEBEB;
                    display: block;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    margin-top: 6px;
                    margin-bottom: 28px;
                    
                    height: 38px;
                    // 
                    // &:after{
                    //   content: 'lens';
                    //   display: block;
                    //   position: absolute;
                    //   right: 0;
                    //   top: 50%;
                    //   transform: translateY(-50%);
                    //   width: 20px;
                    //   height: 100%;
                    // }
                  }
                  
                  a{
                    
                    display: inline-block;
                    width:36px;
                    height: 36px;
                    position: absolute;
                    top: 22px;
                    right: 0;
                    background-color: transparent;
                    color: $main-black;
                    text-align: center;
                    
                    transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                    
                    &:hover{

                      opacity: .5;
                    }
                    
                    i{
                      
                      display: inline-block;
                      color: $main-black;
                      line-height: 36px;
                      vertical-align: middle;
                    }
                  }
                }
              }
            }
            
            .landing-live-search-container{
              
              
              &.visible{
                
                display: block;
              }
              
              display: none;
              z-index: 5;
              position: absolute;
              left: 0;
              top: 58px;
              background-color: white;
              padding: 20px 15px 10px 15px;
              width: 100%;
              
              .landing-live-search-group {
                
                &.data {
                
                  .results-header{
                    border-bottom: 2px solid $data-color;
                    
                    .results-title{
                      
                      color: $data-color;
                    }
                  }
                  
                  .search-results{
                    
                    .result-entry{
                      
                      .matched-text{
                        
                        color: $data-color;
                      }
                    }
                  }
                }
                
                &.pubs {
                  
                  .results-header{
                    border-bottom: 2px solid $pubs-color;
                    
                    .results-title{
                      
                      color: $pubs-color;
                    }
                  }
                  
                  .search-results{
                    
                    .result-entry{
                      
                      .matched-text{
                        
                        color: $pubs-color;
                      }
                    }
                  }
                }
                
                &.lab {
                  
                  .results-header{
                    border-bottom: 2px solid $lab-color;
                    
                    .results-title{
                      
                      color: $lab-color;
                    }
                  }
                  
                  .search-results{
                    
                    .result-entry{
                      
                      .matched-text{
                        
                        color: $lab-color;
                      }
                    }
                  }
                }
                
                padding-bottom: 20px;
                
                &:last-child{
                  
                  padding-bottom: 0;
                }
                
                .results-header{
                  width: 100%;
                  position: relative;
                  height: 15px;
                  padding-bottom: 4px;
                  
                  .results-title{
                    
                    padding-left: 4px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    font-weight: 400;
                    font-size: 13px;
                    letter-spacing: .005em;
                    line-height: 1.4;
                    padding-right: 60px;
                  }
                  
                  .all-link{
                    
                    padding-right: 8px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    display: inline-block;
                    font-weight: 400;
                    font-size: 11px;
                    color: #898989;
                    letter-spacing: .025em;
                    line-height: 1.3;
                    cursor: pointer;
                    user-select: none;
                    
                    &:hover{
                      
                      text-decoration: none;
                    }
                  }
                }
                  
                .search-results{
                  
                  width: 100%;
                  
                  a.result-entry{
                    
                    display: block;
                    padding-left: 4px;
                    padding-right: 4px;
                    font-weight: 300;
                    font-size: 16;
                    color: #898989;
                    line-height: 2;
                    border-bottom: 1px solid #989898;
                    cursor: pointer;
                    overflow: hidden;
                    
                    &:hover{
                      text-decoration: none;
                    }
                    
                    &:last-child{
                      
                      border-bottom: none;
                    }
                    
                    .matched-text{
                      
                      font-weight: 700;
                      font-size: 16px;
                      line-height: 2;
                    }
                  }
                }  
              }
            }
          }
          
          button.landing-search-button{
            
            color: white;
            background-color: $main-black;
            border: none;
            border-radius: 25px;
            height: 50px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 155px;
            
            
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            
            &:hover i{
              
              opacity: .5;
            }
            
            
            i{
              
              font-size: 20px;
            }
          }
        }    
      }
    }
  }
}