body{
  
  &.data{
    
    background-color: $data-color;
  }
  
  section.data-landing-page-content{
  
    margin: 0 15px 55px 15px;
    padding-bottom: 55px;
    background-color: $neutral-grey;
    
    .container-fluid{
      
      padding-top: 45px;
      padding-right: 25px;
      padding-left: 25px;
      padding-bottom: 0;
      
      .row{
        padding-right: -25px;
        padding-left: -25px;
      }
      
      .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding-right: 25px;
        padding-left: 25px;
      }
      
      &.featured-datasets-container{
        
        padding-top: 65px;
        
        h4.featured-datasets-header{
          
          margin: 0;
          padding-bottom: 18px;
          padding-left: 7px;
          font-weight: bold;
        }
      }
    }
    
    .featured-datasets-item{
      
      padding: 30px 15px 45px 15px;
      border-top: solid 10px $data-color;
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .1s ease-in-out;
      
      &:hover{
        
        background-color: white;
      }
      
      .date-of-entry{
        
        color: $details-grey;
        font-weight: 400;
        font-size: 12;
        letter-spacing: .05;
        line-height: 1.3;
        
        a{
          color: inherit;
        }
      }
      
      // a{
      //   color: $main-black;
      // 
      //   &:hover{
      // 
      //     text-decoration: none;
      //     color: $main-black;
      //   }
      // }
      
      h3.featured-dataset-title{
        
        margin: 0;
        line-height: 1;
        padding-top: 18px;
        font-weight: 500;
        color: $data-color;
        
        a{
          
          color: inherit;
          
          &:hover{
            color: inherit;
          }
        }
        
      }
      
      .dataset-service{
        
        margin-top: 16px;
        font-weight: 400400;
        font-size: 12;
        color: $details-grey;
        letter-spacing: .05em;
        line-height: 1.3;
        
        a{
          color: inherit;
          
          &:hover{
            color: inherit;
          }
        }
      }
      
      .tag-list{
        margin-top: 10px;
      }
    }
    
    .latest-datasets-container{
      
      padding-top: 65px;
      
      h4.latest-datasets-header{
        
        margin: 0;
        padding-bottom: 18px;
        padding-left: 7px;
        font-weight: bold;
      }
      
      div{
          
        .latest-border-bottom{
          border-top: solid 10px $data-color;
          // height: 0px;
          position: relative;
          display: block;
          text-align: right;
          margin-bottom: 25px;
          
          .latest-datasets-order-by{
            // position: absolute;
            // right: 0;

            // top: 0;
            font-weight: 400;
            font-size: 12px;
            color: $main-black;
            letter-spacing: .025em;
            line-height: 1.4;
            padding-top: 10px;
            
            select{
              font-weight: 400;
              font-size: 12px;
              margin-left: 20px;
            }
          }
        }
      }
      
      div{
        .latest-dataset-item{
          max-width: 1024px;
          margin: auto;
          margin-top: -1px;
          padding: 20px 15px;
          border-left: solid 10px transparent;
          transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .1s ease-in-out;
          position: relative;
          
          &:after{
            
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 0;
            border-bottom: solid 1px $details-grey;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .1s ease-in-out;
          }
          
          &:last-of-type:after{
            
            border-bottom: none;
          }
          
          &:hover{
            
            background-color: white;
            border-bottom-color: transparent;
            border-left-color: $data-color;
          
            &:after{
              
              border-bottom-color: transparent;
            }
          }
          
          .date-of-entry{
            
            color: $details-grey;
            font-weight: 400;
            font-size: 12;
            letter-spacing: .05;
            line-height: 1.3;
            
            a{
              color: inherit;
            }
          }
          
          // a{
          //   color: $main-black;
          // 
          //   &:hover{
          // 
          //     text-decoration: none;
          //     color: $main-black;
          //   }
          // }
          
          h3.latest-dataset-title{
            
            margin: 0;
            line-height: 1;
            padding-top: 8px;
            font-weight: 500;
            color: $data-color;
            
            a{
              
              color: inherit;
              
              &:hover{
                color: inherit;
              }
            }
            
          }
          
          .dataset-service{
            
            margin-top: 8px;
            font-weight: 400400;
            font-size: 12;
            color: $details-grey;
            letter-spacing: .05em;
            line-height: 1.3;
            
            a{
              color: inherit;
              
              &:hover{
                color: inherit;
              }
            }
          }
          
          .tag-list{
            margin-top: 10px;
          }
          
          .bottom-separator{
            display: none;
            width: 100%;
            height: 0;
            border-bottom: solid 1px $details-grey;
          } 
        }
        
        .latest-dataset-more-pill{
          
          max-width: 1024px;
          margin: auto;
          display: block;
          width: 100%;
          height: 58px;
          margin-top: 55px;
          border-radius: 29px;
          color: white;
          background-color: $data-color;
          
          a{
            color: inherit;
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 58px;
            vertical-align: middle;
            text-decoration: none;
            
            font-weight: 500;
            font-size: 20px;
            color: white;
            letter-spacing: .05em;
          }
        }
      }
    }
  }
}















