body{
  
  section{
    
    div.landing-section{
      
      z-index: 0;
      height: 80vh;
      min-height: 600px;
      background-image: url('../images/jpg/photo1-100.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -1px 51%;
      position: relative;
      margin: 15px 15px 0 15px;
      
      .search-form-wrapper{
        
        position: relative;
        display: block;
        max-width: 100%;
        margin: auto;
        width: 60%;
        min-width: 400px;
        
        @include position(absolute, 50% null null 50%);
        // @include transform(translate(-50%, -50%)));
        
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        
        
        .landing-search-form{
          
          
          .main-form-content{
            
            width: calc(100% - 175px); 
            border-bottom: solid 3px black;
            position: relative;
            
            input.landing-search-text{
              
              border: none;
              background-color: transparent;
              font-size: 17px;
              font-size: 20px;
              padding: 0 15px 15px 15px;
              width: 100%;
              height: 55px;
              line-height: 2.3;
              letter-spacing: .025;
              color: $main-black;
              font-weight: 500;
              
              &::-moz-selection{
                color: white;
                background-color: #BFBFBF;
              }
              
              &::selection{
                color: white;
                background-color: #BFBFBF;
              }
              
              &:focus{
                
                border: none;
              }
            }
            
            .domain-pills{
              
              margin-left: 12px;
              padding-top: 10px;
              width: 100%;
              z-index: 3;
              position: absolute;
              left: 0;
              // bottom: 0;
              // transform: translateY(-100%);
              
              .filter-pill{
                
                cursor: pointer;
                user-select: none;
                margin-right: 8px;
                color: white;
                font-size: 14px;
                padding: 6px 10px;
                height: 25px;
                line-height: 15px;
                float: left;
                display: inline-block;
                border-radius: 17.5px;
                background-color: #BFBFBF;
                
                &:last-child{
                  margin-right: none;
                }
                
                &.selected{
                  
                  &.pill-data{
                    
                    background-color: $data-color;
                  }
                  
                  &.pill-pubs{
                    
                    background-color: $pubs-color;
                  }
                  
                  &.pill-lab{
                    
                    background-color: $lab-color;
                  }
                }
              }
              
              .advanced-search-link{
                
                cursor: pointer;
                user-select: none;
                position: absolute;
                top: 0;
                right: 0;
                
                z-index: 0 !important;
                
                margin-right: 12px;
                margin-top: 13px;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.3;
                letter-spacing: .05em;
              }
            }
            
            .closable{
              display: none;
              
              &.state-open{
                
                display: block;
              }
              
              z-index: 1;
              position: absolute;
              left: 0;
              width: 100%;
              top: 58px;
              background-color: white;
              
              .close-btn{
                
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 12px;
                margin-top: 10px;
                font-size: 14px;
                color: $main-black;
                letter-spacing: .05em;
                line-height: 1.4;
                
                &:after{
                  
                  content: 'X';
                }
              }
              
              .search-options{
                
                position: relative;
                margin-top: 50px;
                padding-left: 25px;
                padding-right: 25px;
                
                label{
                  
                  float: left;
                  width: calc(50% - 50px);
                  // height: 60px;
                  font-weight: 500;
                  font-size: 15px;
                  color: $main-black;
                  letter-spacing: .025;
                  line-height: 1;
                  margin-left: 25px;
                  margin-right: 25px;
                  
                  .label-content{
                    
                    padding-left: 10px;
                  }
                  
                  input{
                    
                    padding: 0 10px;
                    font-weight: 300;
                    width: 100%;
                    border: 1px solid #4D4D4D;
                    background-color: #EBEBEB;
                    display: block;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    margin-top: 6px;
                    margin-bottom: 28px;
                    
                    height: 38px;
                    
                    &:after{
                      content: 'lens';
                      display: block;
                      position: absolute;
                      right: 0;
                      top: 50%;
                      transform: translateY(-50%);
                      width: 20px;
                      height: 100%;
                    }
                  }
                }
              }
            }
            
            .landing-live-search-container{
              
              z-index: 5;
              position: absolute;
              left: 0;
              top: 58px;
              background-color: white;
              padding: 20px 15px 10px 15px;
              width: 100%;
              
              .landing-live-search-group {
                
                &.data {
                
                  .results-header{
                    border-bottom: 2px solid $data-color;
                    
                    .results-title{
                      
                      color: $data-color;
                    }
                  }
                  
                  .search-results{
                    
                    .result-entry{
                      
                      .matched-text{
                        
                        color: $data-color;
                      }
                    }
                  }
                }
                
                &.pubs {
                  
                  .results-header{
                    border-bottom: 2px solid $pubs-color;
                    
                    .results-title{
                      
                      color: $pubs-color;
                    }
                  }
                  
                  .search-results{
                    
                    .result-entry{
                      
                      .matched-text{
                        
                        color: $pubs-color;
                      }
                    }
                  }
                }
                
                &.lab {
                  
                  .results-header{
                    border-bottom: 2px solid $lab-color;
                    
                    .results-title{
                      
                      color: $lab-color;
                    }
                  }
                  
                  .search-results{
                    
                    .result-entry{
                      
                      .matched-text{
                        
                        color: $lab-color;
                      }
                    }
                  }
                }
                
                padding-bottom: 20px;
                
                &:last-child{
                  
                  padding-bottom: 0;
                }
                
                .results-header{
                  width: 100%;
                  position: relative;
                  height: 15px;
                  padding-bottom: 4px;
                  
                  .results-title{
                    
                    padding-left: 4px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    font-weight: 400;
                    font-size: 13px;
                    letter-spacing: .005em;
                    line-height: 1.4;
                    padding-right: 60px;
                  }
                  
                  .all-link{
                    
                    padding-right: 8px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    display: inline-block;
                    font-weight: 400;
                    font-size: 11px;
                    color: #898989;
                    letter-spacing: .025em;
                    line-height: 1.3;
                    cursor: pointer;
                    user-select: none;
                    
                    &:hover{
                      
                      text-decoration: none;
                    }
                  }
                }
                  
                .search-results{
                  
                  width: 100%;
                  
                  a.result-entry{
                    
                    display: block;
                    padding-left: 4px;
                    padding-right: 4px;
                    font-weight: 300;
                    font-size: 16;
                    color: #898989;
                    line-height: 2;
                    border-bottom: 1px solid #989898;
                    cursor: pointer;
                    
                    &:hover{
                      text-decoration: none;
                    }
                    
                    &:last-child{
                      
                      border-bottom: none;
                    }
                    
                    .matched-text{
                      
                      font-weight: 700;
                      font-size: 16px;
                      line-height: 2;
                    }
                  }
                }  
              }
            }
          }
          
          button.landing-search-button{
            
            color: white;
            background-color: $main-black;
            border: none;
            border-radius: 25px;
            height: 50px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 155px;
            
          }
        }    
      }
    }
  }
  
  section.landing-page-content{
  
    margin: 0 15px 104px 15px;
    
    .container-fluid{
      
      padding-top: 45px;
      padding-right: 25px;
      padding-left: 25px;
      padding-bottom: 0;
      
      .row{
        padding-right: -25px;
        padding-left: -25px;
      }
      
      .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding-right: 25px;
        padding-left: 25px;
      }
      
      
      &.latest-news-container{
        
        padding-top: 45px;
        
        h4.latest-news-header{
          
          margin: 0;
          padding-bottom: 18px;
          padding-left: 7px;
          font-weight: bold;
        }
      }
      
      &.about-helix-container{
        
        padding-top: 65px;
        
        h4.about-header{
          
          margin: 0;
          padding-bottom: 18px;
          padding-left: 7px;
          font-weight: bold;
        }
      }
    }
    
    
    
    .latest-news-item{
      
      border-top: solid 10px $main-black;
      padding-top: 25px;
      
      .featured-image{
        float: left;
        width: 50%;
        
        .aspect-ratio{
          position: relative;
          width: 100%;
          
          &:before{
            content: '';
            display: block;
            padding-top: 75%;
          }
          
          .image-content{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat; 
          }
        }
      }
      
      .item-details{
        
        float: left;
        width: 50%;
        padding-left: 30px;
        
        .item-date{
          
          color: #666666;
          font-size: 12px;
          padding-top: 10px;
          line-height: 1.25;
          letter-spacing: .050;
        }
        
        a{
          color: $main-black;
          
          &:hover{
            
            text-decoration: none;
            color: $main-black;
          }
          
          h3.item-title{
            
            line-height: 1.1;
            font-weight: bold;
            padding-top: 15px;
            
          }
        }
        
        .item-excerpt{
          
          font-weight: 300;
          line-height: 1.73;
          padding-top: 12px;
          
          .read-more{
            font-family: $body_font;
            font-size: 13px;
            line-height: 1.6;
            font-weight: bold;
          }
        }
      }
    }
    
    .about-item{
      
      border-top: solid 10px $main-black;
      
      a{
        color: $main-black;
        
        &:hover{
          
          text-decoration: none;
          color: $main-black;
        }
      }
      
      h3.about-title{
        
        margin: 0;
        line-height: 1;
        padding-top: 35px;
        font-weight: 500;
        
      }
      
      .about-text{
        
        font-weight: 300;
        line-height: 1.73;
        padding-top: 30px;
      }
      
      .about-link{
        
        font-size: 18px;
        line-height: 1.3;
        font-weight: 500;
        padding-top: 40px;
        
      }
    }
  }
}















