body{
  // margin: 15px;
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #67676A;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #67676A;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #67676A;
  }
  
  font-family: $body_font;
  
  &.main-landing {
    background-color: $neutral-grey;
  }


  /* Clear Fix */
  .cf {
  	&:before,
  	&:after {
  		content: " ";
  		display: table;
  	}
  	&:after {
  		clear: both;
  	}
  }
  
  a{
    
    &:hover{
      
      text-decoration: none;
    }
  }
}


h1, h2, h3, h4, h5, h6{
  margin: 0;
}

h1, .style-1{
  font-family: $body_font;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: .02em;
}

h2, .style-2{
  
  font-family: $body_font;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0;
}

h3, .style-3{
  
  font-family: $body_font;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: 0;
}

h4, .style-4{
  
  font-family: $body_font;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: .02em;
}

h5, .style-5{
  
  font-family: $body_font;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  letter-spacing: .025em;
}

h6, .style-6{
  
  font-family: $body_font;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: .05em;
}

.tag-box{
  
  color: $details-grey;
  display: inline-block;
  border: 1px solid #898989;
  margin: 3px;
  padding: 5px 3px;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 300;
  
  opacity: 1;
  
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  
  &:first-child{
    margin-left: 0;
  }
  
  &:first-child{
    margin-right: 0;
  }
  
  &:hover{
    opacity: .5;
    color: $details-grey;
    text-decoration: none;
  }
}

