body {

  &.results-main {

    background-color: $neutral-grey;

    section .results-main-content section.results-main-sidebar .search-form-wrapper .landing-search-form {}
  }

  &.results-data {

    background-color: $neutral-grey;

    section.main-results-page-content .results-main-content section.results-main-sidebar .search-form-wrapper .landing-search-form {

      .main-form-content {

        border-bottom-color: $data-color;

        .domain-pills {
          display: none;
        }
      }

      .landing-search-button {

        background-color: $data-color;
      }
    }

    section .results-main-content .results-main-result-set .main-results-border-bottom {

      border-top-color: $data-color;
    }

    section.main-results-page-content .results-main-content section.results-main-sidebar .main-results-advanced-search .border-bottom-bar,
    section.main-results-page-content .results-main-content section.results-main-result-set .main-results-border-bottom {

      border-top-color: $data-color;
    }

    footer#footer.main-footer {

      background-color: $data-color;
    }
  }

  &.results-pubs {

    background-color: $pubs-color;

    section.main-results-page-content .results-main-content section.results-main-sidebar .search-form-wrapper .landing-search-form {

      .main-form-content {

        border-bottom-color: $pubs-color;

        .domain-pills {
          display: none;
        }
      }

      .landing-search-button {

        background-color: $pubs-color;
      }
    }

    section .results-main-content .results-main-result-set .main-results-border-bottom {

      border-top-color: $pubs-color;
    }

    section.main-results-page-content .results-main-content section.results-main-sidebar .main-results-advanced-search .border-bottom-bar,
    section.main-results-page-content .results-main-content section.results-main-result-set .main-results-border-bottom {

      border-top-color: $pubs-color;
    }

    footer#footer.main-footer {

      background-color: $pubs-color;
    }
  }

  &.results-lab {

    background-color: $lab-color;

    section.main-results-page-content .results-main-content section.results-main-sidebar .search-form-wrapper .landing-search-form {

      .main-form-content {

        border-bottom-color: $lab-color;

        .domain-pills {
          display: none;
        }
      }

      .landing-search-button {

        background-color: $lab-color;
      }
    }

    section .results-main-content .results-main-result-set .main-results-border-bottom {

      border-top-color: $lab-color;
    }

    section.main-results-page-content .results-main-content section.results-main-sidebar .main-results-advanced-search .border-bottom-bar,
    section.main-results-page-content .results-main-content section.results-main-result-set .main-results-border-bottom {

      border-top-color: $lab-color;
    }

    footer#footer.main-footer {

      background-color: $lab-color;
    }
  }

  section.main-results-page-content {

    background-color: $neutral-grey;
    //margin: 17px 17px 0 17px;
    border: 15px solid $data-color;
    position: relative;

    .results-main-content {

      position: relative;

      max-width: 1024px;
      margin: auto;
      padding-top: 200px;
      min-height: 1550px;
      overflow-y: auto;

      .center-content {
        padding-left: 0 !important;
      }

      section.results-main-sidebar {

        padding: 0;
        width: 270px;
        max-width: 320px;
        position: relative;
        top: 0;
        left: 0;
        margin-top: 2px;
        margin-bottom: 30px;
        float: left;
        z-index: 2;

        .search-form-wrapper {

          position: relative;
          display: block;
          max-width: 100%;
          margin: auto;
          width: 100%;



          .landing-search-form {


            .main-form-content {

              width: calc(100% - 41px);
              border-bottom: solid 3px black;
              position: relative;


              input.landing-search-text {

                border: none;
                background-color: transparent;
                font-size: 17px;
                font-size: 20px;
                // padding: 0 15px 15px 15px;
                width: 100%;
                height: 45px;
                line-height: 2.3;
                letter-spacing: .025em;
                color: $main-black;
                font-weight: 400;
                outline: none;
                padding-left: 8px;


                &::-moz-selection {
                  color: white;
                  background-color: #BFBFBF;
                }

                &::selection {
                  color: white;
                  background-color: #BFBFBF;
                }

                &:focus {

                  border: none;
                }

              }

              .domain-pills {

                padding-top: 10px;
                width: 100%;
                z-index: 3;
                position: absolute;
                left: 0;
                // bottom: 0;
                // transform: translateY(-100%);

                .filter-pill {

                  cursor: pointer;
                  user-select: none;
                  margin-right: 4px;
                  color: white;
                  font-size: 14px;
                  padding: 6px 8px;
                  height: 25px;
                  line-height: 15px;
                  float: left;
                  display: inline-block;
                  border-radius: 17.5px;
                  background-color: #BFBFBF;
                  opacity: 1;

                  transition: all .2s ease-in-out;
                  -webkit-transition: all .2s ease-in-out;
                  -moz-transition: all .2s ease-in-out;
                  -o-transition: all .2s ease-in-out;

                  &:hover {

                    opacity: .5;
                  }

                  &:after {

                    content: '\f00d';
                    display: inline-block;
                    margin-left: 4px;
                    font-family: 'FontAwesome';
                    font-size: 12px;
                    line-height: 15px;
                    vertical-align: middle;
                    position: relative;
                    top: -1px;

                  }

                  &:last-child {
                    margin-right: none;
                  }

                  &.selected {

                    &:after {

                      content: '\f00c';
                    }

                    &.pill-data {

                      background-color: $data-color;
                    }

                    &.pill-pubs {

                      background-color: $pubs-color;
                    }

                    &.pill-lab {

                      background-color: $lab-color;
                    }
                  }
                }

                .advanced-search-link {

                  cursor: pointer;
                  user-select: none;
                  position: absolute;
                  top: 0;

                  z-index: 0 !important;

                  margin-right: 12px;
                  margin-top: 13px;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 1.3;
                  letter-spacing: .05em;
                }
              }

              .closable {
                display: none;

                &.state-open {

                  display: block;
                }

                z-index: 1;
                position: absolute;
                left: 0;
                width: 100%;
                top: 58px;
                background-color: white;

                .close-btn {

                  position: absolute;
                  top: 0;
                  right: 0;
                  margin-right: 12px;
                  margin-top: 10px;
                  font-size: 14px;
                  color: $main-black;
                  letter-spacing: .05em;
                  line-height: 1.4;

                  &:after {

                    content: 'X';
                  }
                }

                .search-options {

                  position: relative;
                  margin-top: 50px;
                  padding-left: 25px;
                  padding-right: 25px;

                  label {

                    float: left;
                    width: calc(50% - 50px);
                    // height: 60px;
                    font-weight: 500;
                    font-size: 15px;
                    color: $main-black;
                    letter-spacing: .025;
                    line-height: 1;
                    margin-left: 25px;
                    margin-right: 25px;

                    .label-content {

                      padding-left: 10px;
                    }

                    input {

                      padding: 0 10px;
                      font-weight: 300;
                      width: 100%;
                      border: 1px solid #4D4D4D;
                      background-color: #EBEBEB;
                      display: block;
                      appearance: none;
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      -o-appearance: none;
                      margin-top: 6px;
                      margin-bottom: 28px;

                      height: 38px;

                      &:after {
                        content: 'lens';
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 20px;
                        height: 100%;
                      }
                    }
                  }
                }
              }

              .landing-live-search-container {

                display: none;
                z-index: 5;
                position: absolute;
                left: 0;
                top: 58px;
                background-color: white;
                padding: 20px 15px 10px 15px;
                width: 100%;

                .landing-live-search-group {

                  &.data {

                    .results-header {
                      border-bottom: 2px solid $data-color;

                      .results-title {

                        color: $data-color;
                      }
                    }

                    .search-results {

                      .result-entry {

                        .matched-text {

                          color: $data-color;
                        }
                      }
                    }
                  }

                  &.pubs {

                    .results-header {
                      border-bottom: 2px solid $pubs-color;

                      .results-title {

                        color: $pubs-color;
                      }
                    }

                    .search-results {

                      .result-entry {

                        .matched-text {

                          color: $pubs-color;
                        }
                      }
                    }
                  }

                  &.lab {

                    .results-header {
                      border-bottom: 2px solid $lab-color;

                      .results-title {

                        color: $lab-color;
                      }
                    }

                    .search-results {

                      .result-entry {

                        .matched-text {

                          color: $lab-color;
                        }
                      }
                    }
                  }

                  padding-bottom: 20px;

                  &:last-child {

                    padding-bottom: 0;
                  }

                  .results-header {
                    width: 100%;
                    position: relative;
                    height: 15px;
                    padding-bottom: 4px;

                    .results-title {

                      padding-left: 4px;
                      position: absolute;
                      left: 0;
                      bottom: 0;
                      font-weight: 400;
                      font-size: 13px;
                      letter-spacing: .005em;
                      line-height: 1.4;
                      padding-right: 60px;
                    }

                    .all-link {

                      padding-right: 8px;
                      position: absolute;
                      right: 0;
                      bottom: 0;
                      display: inline-block;
                      font-weight: 400;
                      font-size: 11px;
                      color: #898989;
                      letter-spacing: .025em;
                      line-height: 1.3;
                      cursor: pointer;
                      user-select: none;

                      &:hover {

                        text-decoration: none;
                      }
                    }
                  }

                  .search-results {

                    width: 100%;

                    a.result-entry {

                      display: block;
                      padding-left: 4px;
                      padding-right: 4px;
                      font-weight: 300;
                      font-size: 16;
                      color: #898989;
                      line-height: 2;
                      border-bottom: 1px solid #989898;
                      cursor: pointer;
                      overflow: hidden;

                      &:hover {
                        text-decoration: none;
                      }

                      &:last-child {

                        border-bottom: none;
                      }

                      .matched-text {

                        font-weight: 700;
                        font-size: 16px;
                        line-height: 2;
                      }
                    }
                  }
                }
              }
            }

            button.landing-search-button {

              color: white;
              background-color: $main-black;
              border: none;
              border-radius: 25px;
              height: 50px;
              position: absolute;
              top: 50%;
              width: 50px;
              transform: translateY(-50%);
              right: -8px;
              opacity: 1;
              margin-top: 2px;

              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -o-transition: all .2s ease-in-out;

              &:hover {

                opacity: .5;
              }

              .fa {
                font-size: 2rem;
                line-height: 40px;
                letter-spacing: 0.5px;
              }
            }
          }
        }

        .group-search {
          margin-top: 70px;
        }

        .current-search-fields {

          margin-top: 80px;
          margin-left: 18px;

          .title {

            font-weight: 400;
            font-size: 15px;
            letter-spacing: .025em;
            line-height: 1.2;
            margin-bottom: 12px;
            width: 50%;
          }

          .search-field {

            font-weight: 300;
            font-size: 12px;
            letter-spacing: .05em;
            line-height: 1.2;
            position: relative;

            .x-button {

              position: relative;
              display: inline-block;
              margin-right: 10px;
              top: -1px;
            }
          }
        }

        .main-results-advanced-search {

          margin-top: 80px;

          h4.header {

            margin: 0;
            padding-bottom: 8px;
            padding-left: 13px;
            font-weight: bold;
          }

          .border-bottom-bar {
            border-top: solid 10px $main-black;
            height: 0;
            position: relative;
            display: block;
            margin-bottom: 18px;
          }
        }

        .param-box {

          margin-top: 35px;

          .title {
            margin-left: 13px;
            margin-bottom: 25px;
            text-transform: uppercase;
          }

          .switches {

            label {

              display: block;
              border-bottom: 1px solid #b8b8b8;
              margin-bottom: 0px;
              padding: 15px 0 15px 15px;
              position: relative;

              font-weight: 300;
              font-size: 14px;
              color: $details-grey;
              letter-spacing: .05em;
              line-height: 1.5;

              input {

                position: relative;
                top: 2px;
                background-color: white;
                border: 1px solid $main-black;
                border-radius: 2px;
                margin-right: 10px;
              }
            }

            .more-link {

              margin-left: 15px;
              margin-top: 17px;

              a {

                font-weight: 300;
                font-size: 14px;
                color: $details-grey;
                letter-spacing: .05em;
                line-height: 1.5;
              }
            }
          }

          .map-container img {
            width: 100%;
          }

          &.organizations {
            .switches {
              //text-transform: uppercase;
            }
          }
        }

        &.about-helix-container {

          padding-top: 65px;

          h4.about-header {

            margin: 0;
            padding-bottom: 18px;
            padding-left: 7px;
            font-weight: bold;
          }
        }

        .side-heading {
          background-color: inherit;
          padding-left: 12px;
          padding-top: 10px;
          padding-right: 15px;
          padding-bottom: 10px;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.2;
          margin-bottom: 20px;
          margin-top: 20px;
          border-bottom: 10px solid $data-color;

          &.grayed {
            background-color: #ebebeb;
          }

          &.neutral {
            background-color: $neutral-grey;
          }

          &.org-heading {
            margin-top: 0px;
            padding-top: 0px;
          }

          &.resources {
            margin-top: 0;
            padding-top: 0;
          }
        }

        .side-content {
          padding: 25px 30px 30px 30px;
        }

        .license {
          padding: 20px 30px 30px 15px;

          a {
            font-family: 'Roboto';
            font-weight: 300;
            text-transform: uppercase;
            color: #67676A;
          }
        }

        .side-tags {
          font-family: 'Roboto';
          font-weight: 300;
          text-transform: uppercase;

          .topics {
            color: #111111;
            display: inline-block;
            padding-left: 12px;
            font-size: 15px;
            color: #67676A;
          }

          hr {
            border-top: 1px solid $data-color;
            margin-top: 12px;
            margin-bottom: 12px;
          }

          .tags {
            color: #111111;
            display: inline-block;
            padding-left: 20px;
            padding-right: 15px;
            padding-top: 7px;
            padding-bottom: 7px;
            font-size: 1.4rem;
            color: #67676A;
          }

          .side-resource {
            list-style: none;

          }

          .active {
            a {
              color: $data-color;
              font-weight: 500;
            }
          }
        }

        .module-heading {
          font-size: 20px;
          background-color: transparent;
          border-bottom: none;
          border-top: none;
          text-align: left;

          .module {
            padding-left: 18px;
            padding-right: 18px;
          }
        }

        .module-content {
          font-weight: 300;
          font-size: 16px;
          line-height: 25px;
        }

      }


      /* ___/RESULTS MAIN CONTENT/___ */
      section.results-main-result-set {

        // .abs-position{
        // 
        //   position: absolute;
        //   top: 0;
        //   margin-top: 208px;
        // }

        position: relative;
        top: 0;
        right: 0;
        padding-left: 319px;
        width: 100%;
        padding-bottom: 70px;
        // width: calc(100% - 346px);
        // float: right;

        .breadcrumbs-pagination {
          display: block;
          width: 100%;
          margin: auto;
          margin-bottom: 16px;
          position: relative;
          height: 15px;

          &.top {
            margin-bottom: 15px;
            padding-left: 8px;
          }

          &.bottom {
            margin-top: -10px;
            padding-left: 8px;

            .breadcrumbs {
              top: 3px;
            }
          }


          .breadcrumbs {

            position: absolute;
            top: 1px;
            left: 0;
            margin-left: 8px;
            text-transform: uppercase;

            .breadcrumbs-part {

              font-weight: 400;
              font-size: 15px;
              color: $details-grey;
              letter-spacing: .025em;
              line-height: 1.2;
              position: relative;
              opacity: 1;

              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -o-transition: all .2s ease-in-out;

              &:after {

                content: "\\\\\\";
                color: $details-grey;
                margin-left: 5px;
                margin-right: 3px;
                position: relative;
                top: -1px
              }

              &:last-child {

                color: $main-black;
                margin-right: 0;

                &:after {

                  content: '';
                }
              }

              &:hover {

                opacity: .5;

                &:after {

                  opacity: 1;
                }
              }

              &.hide-overflow {
                display: none;
              }
            }
          }

          .page_primary_action {
            .btn-group {
              margin-top: -90px;
            }

            .btn-add-dataset {
              font-family: 'Roboto';

              //background-color: $data-color;
              &:hover {
                opacity: .5;
              }
            }

            .btn-add-dataset-toggle {
              padding-left: 7px;
              padding-right: 7px;
            }

            .dropdown-menu {
              border: 2px solid $data-color;
              border-radius: 0px;
              font-size: 12px;
              font-weight: 500;
              //li{ a{color: $data-color;} }
            }
          }


          .pagination-block {

            position: absolute;
            top: 0;
            right: 0;

            ul {
              li {
                display: inline;

                &.current-item {
                  a {
                    position: relative;
                    top: 1px;
                    font-weight: 500;
                    font-size: 17px;
                    text-decoration: none;
                  }
                }
              }
            }

            .pagination-item {

              margin: 0 10px;
              font-weight: 300;
              font-size: 15px;
              color: $main-black;
              letter-spacing: .025em;
              line-height: 1.2;
              opacity: 1;

              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -o-transition: all .1s ease-in-out;

              &:hover {

                opacity: .5;
              }

            }
          }
        }

        .main-results-border-bottom {
          position: relative;
          border-top: solid 10px $main-black;
          // height: 0px;
          position: relative;
          display: block;
          text-align: right;
          margin-bottom: 35px;
          margin-top: 18px;

          .order-by {
            // position: absolute;
            // right: 0;
            // top: 0;
            font-weight: 400;
            font-size: 12px;
            color: $main-black;
            letter-spacing: .025em;
            line-height: 1.4;
            padding-top: 10px;

            select {
              font-weight: 400;
              font-size: 1.2rem;
              margin-left: 20px;
              padding: 0;
              color: #000;
            }
          }
        }



        .main-results-result-count {

          float: left;
          position: relative;
          padding-left: 8px;
          padding-top: 18px;
          font-weight: 400;
          font-size: 12px;
          color: $main-black;
          letter-spacing: .025em;
          line-height: 21px;
          vertical-align: middle;
        }

        .result-items {

          padding-bottom: 40px;

          .result-item {
            max-width: 1024px;
            margin: auto;
            margin-top: -1px;
            padding: 15px 15px;
            border-left: solid 10px transparent;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .1s ease-in-out;
            position: relative;
            overflow: hidden;

            &:first-child {
              padding-top: 25px;
            }

            &.data {

              &:hover {

                border-left-color: $data-color;
              }

              .title {

                color: $data-color;
                width: 80%; //to avoid overlapping with favorite/save buttons

                .pill {
                  background-color: $data-color;
                }
              }
            }

            &.pubs {

              &:hover {

                border-left-color: $pubs-color;
              }

              .title {

                color: $pubs-color;

                .pill {
                  background-color: $pubs-color;
                }
              }
            }

            &.lab {

              &:hover {

                border-left-color: $lab-color;
              }

              .title {

                color: $lab-color;

                .pill {
                  background-color: $lab-color;
                }
              }
            }

            &:after {

              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              display: block;
              width: 100%;
              height: 0;
              border-bottom: solid 1px #b8b8b8;
              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -o-transition: all .1s ease-in-out;
            }

            &:last-child:after {
              border-bottom: none;
            }


            &:hover {

              background-color: white;
              border-bottom-color: transparent;

              .btn-favorite {
                display: block;
              }

              .btn-save {
                display: block;
              }

              &:after {

                border-bottom-color: transparent;
              }
            }

            .date-of-entry {

              color: $details-grey;
              font-weight: 400;
              font-size: 1.2rem;
              letter-spacing: .05;
              line-height: 1.3;

              a {
                color: inherit;
              }
            }

            h3.title {

              position: relative;
              margin: 0;
              line-height: 1.3;
              padding-top: 8px;
              font-weight: 500;

              .label {
                padding: 3px !important;
                font-size: 1.4rem;
                float: left;
                margin-top: 2px;
                margin-right: 5px;
              }

              a {

                color: inherit;

                &:hover {
                  color: inherit;
                }
              }

              .pill {

                position: relative;
                top: -4px;
                cursor: pointer;
                user-select: none;
                margin-right: 8px;
                color: white;
                font-size: 11px;
                padding: 2px 5px;
                height: 18px;
                line-height: 15px;
                // float: left;
                display: inline-block;
                border-radius: 9px;
                background-color: #BFBFBF;


                &:last-child {
                  margin-right: none;
                }
              }
            }

            .service {

              margin-top: 8px;
              font-weight: 400400;
              font-size: 1.2rem;
              color: $details-grey;
              letter-spacing: .05em;
              line-height: 1.3;

              a {
                color: inherit;
                text-transform: uppercase;

                &:hover {
                  color: inherit;
                }
              }
            }

            .tags-list {
              margin-top: 7px;
              padding: 0px !important;

              .tooltip {
                overflow: visible !important;
                position: fixed;
              }

              .tag-box-other {
                background-color: $details-lighter-grey;
                color: $details-darker-grey;
                border: 0;
              }

              .tag-box-category {
                color: #707070;
                border: 1px solid #707070;
                border-radius: 1px;
                margin-right: 15px;
                font-weight: 500;
              }


            }

            .btn-favorite {
              float: right;
              //margin-top: 17px;
              margin-right: 11px;
              display: none;

              a {
                display: block;
              }

              &:hover {
                img {
                  opacity: .6;
                }
              }
            }

            .btn-save {
              float: right;
              //margin-top: 16px;
              margin-right: 17px;
              display: none;

              a {
                display: block;
              }

              &:hover {
                img {
                  opacity: .6;
                }
              }
            }

            .notes {
              //width: 100%; //to avoid overlapping with save/favorite buttons
              font-weight: 300;
              margin-top: 8px;
              line-height: 22px;
            }

            .bottom-separator {
              display: none;
              width: 100%;
              height: 0;
              border-bottom: solid 1px $details-grey;
            }
          }

          .nav-bar {
            border-bottom: 1px $data-color solid;
            margin-bottom: 20px;
            list-style: none;
            float: left;
            width: 100%;
            padding-left: 25px;
            margin-top: 10px;

            .package-title {
              color: $data-color;
              margin-bottom: 10px;
              font-weight: 300;

              //width: 75%;  //for distance from fav save buttons
              .draft-state {
                //border: 2px $data-color solid;
                border-radius: 8px;
                font-size: 1.4rem;
                font-weight: 600;
                padding: 10px;
                background: $data-color;
                color: #fff;
                vertical-align: middle;
              }
            }

            .dataset-dates {
              margin-bottom: 30px;
              color: #666666;
              font-size: 1.3rem;
              font-weight: 400;
              display: inline-block;

              .title {
                float: left;
              }

              .date {
                font-weight: 500;
                margin-left: 180px;
                letter-spacing: 1px;
              }
            }

            li {
              float: left;
              //padding: 20px 20px 15px 20px;
              padding: 20px 1px 10px;
              width: 33%;
              text-transform: uppercase;

              a {
                color: #666666;
              }

              &.active {
                border-bottom: 1px #f1f1f1ff solid;
                border-left: 1px $data-color solid;
                border-right: 1px $data-color solid;
                border-top: 1px $data-color solid;
                margin-bottom: -1px;

                /* to override parent border*/
                a {
                  color: $data-color;
                }
              }
            }

            .btn-favorite {
              float: right;
              margin-left: 15px;

              a {
                display: inline-block;
              }
            }

            .btn-save {
              float: right;
              margin-left: 15px;

              a {
                display: inline-block;
              }
            }

            .package-language {
              float: right;
              display: block;
              margin-top: 5px;
              margin-left: 20px;
              margin-right: 10px;

              a {
                cursor: default;
                font-size: 1.8rem;
                color: #b2b2b2;
              }
            }

            .nav-menu {
              text-align: center;

              a {
                text-decoration: none;
              }
            }

            .nav-menu-other {
              padding-top: 50px;
            }
          }

          .package-notes {
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 30px;
            font-weight: 300;
            line-height: 24px;
            font-size: 1.5rem;
          }

          .package-resources {
            list-style: none;

            .inline {
              padding-left: 25px;
            }

            .resource-component {
              position: relative;
              padding: 10px 0 10px 60px;
              margin-bottom: 0px;
              border-radius: 3px;
              max-height: 80px;

              .format-label {
                background-repeat: no-repeat;
                background-position: 0px 0px;
                background-size: 62%;
                position: absolute;
                width: 50px;
                height: 42px;
                top: 5px;
                left: 5px;
              }

              .btn-group {
                margin-top: 0px;
              }

              .btn-download {
                float: right;
                display: inline;
              }

              .description {
                font-family: 'Roboto';
                font-weight: 300;
                font-size: 1.1rem;
                line-height: 12px;
                width: 60%;

                a {
                  color: #67676A;
                }
              }
            }

            .resource-title {
              font-size: 2.5rem;
              color: $data-color;
              font-weight: 400;
              line-height: 20px;
            }

            &.edit {
              display: inline-block;
            }

            p {
              font-weight: 400;
            }
          }

          .package-private {
            border-radius: 8px;
            float: right;
            font-size: 1.4rem;
            padding: 10px;
            background: $main-black;
            color: #fff;
          }

          .developer-apis {
            float: left;

            .api-block {
              display: block;
              padding: 10px 10px 10px 10px;
              margin-bottom: 20px;
              border-top: 1px solid #b8b8b8;

              &:first-child {
                border-top: none;
              }

            }

            .api-help {
              border-top: 1px solid #b8b8b8;
              padding-top: 40px;
              margin-top: 10px;
              font-weight: 500;
            }

            .api-body {
              padding: 0 10px 0 10px;
            }
          }

          .search-form {
            display: inline-block;
            width: 100%;

            .search-giant {
              display: inline-block;
            }

            .form-title {
              display: block;
            }

            .datasets-order-by {
              float: right;
            }
          }

          .dataset-form {
            .select-field {
              background: #fff;
              border-radius: 4px;
            }

          }

          .content_action {
            //display:inline-block;
          }

          form {
            display: inline-block;
            width: 100%;
          }

          .resource-view-list {
            display: inline-block;
            width: 100%;
          }
        }

        .separator {
          border-top: 1px solid $data-color;
          margin-top: 25px;
          margin-bottom: 30px;
          width: 100%;
        }

        .btn-manage {
          border: 2px $data-color solid;
          background-color: #ffffff;
          display: inline-block;
          color: #333333;

          &.auto {
            border-color: #f0ad4e;
            float: none;
          }

          &.delete {
            border-color: #ac2925;
          }

          &.black {
            margin-top: 10px;
            border-color: #333;
          }
        }

        .btn-new-view {
          position: absolute;
          right: 0;
          margin-top: -50px;
        }

        .btn-group-main {
          background-color: #ffffff;
          border: 2px $data-color solid !important;
          color: $data-color;
          font-family: 'Roboto' !important;
          font-weight: 500;
          font-size: 12px;
          padding: 5px 25px 5px 25px;
        }

        .btn-group-toggle {
          background-color: $data-color;
          border: 2px $data-color solid !important;
          color: #ffffff;
          padding-bottom: 1px;
        }

        .btn-group {
          margin-top: 40px;

          .btn-group-toggle {
            .caret {
              border-top-color: #ffffff;
              border-bottom-color: #ffffff;
              border-right-width: 8px;
              border-left-width: 8px;
              border-top-width: 8px;
              padding-bottom: 7px;
            }
          }
        }

        .additional-info {
          .inline {
            margin-top: 60px;
            padding-left: 25px;
            float: left;
          }

          .object-read-widget {
            padding-left: 25px;
          }

          tbody {
            color: #666666;
            font-size: 12px;
            tr {
              th {
                border: 1px solid #666666;
                text-transform: uppercase;

                &:first-child {
                  font-weight: 700;
                }
                font-weight: 400;
              }

              td {
                border: 1px solid #666666;
                font-weight: 400;
                line-height: 18px;
              }
            }
          }
        }

        .toggle-show-more {
          height: 34px;
          font-size: 12px;
          border-radius: 0;
          background: #3EA0DD !important;
          text-transform: uppercase;
          a{color: #fff;}
          
        }

        .resource-description {
          font-size: 1.6rem;
        }
      }

      .dashboard {
        padding-left: 0px !important;
      }

      .error-message {
        margin-top: 200px;
      }
    }

    .actions {
      margin-bottom: 30px;

      .btn-resource {
        border: 1px $data-color solid;
        background-color: #ffffff;
      }
    }

    .social-icons {
      width: 33%;
      margin-top: 10px;
      padding-left: 10px;
      float: left;
      font-size: 1.8rem;
    }
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;
    margin-top: 2px;
  }

  #dataset-map {
    border-top: 0.5px solid #4D4D4D;
    border-left: 1px solid #4D4D4D;
    border-bottom: 0.5px solid #4D4D4D;
    border-right: 1px solid #4D4D4D;
  }

  .wide {
    margin-top: 50px;
    display: block;

    .media-grid {
      background: inherit;

      .media-item {
        .media-heading {
          margin-top: 30px;
        }

        p {
          margin-top: 10px;
          font-weight: 400;
        }
      }
    }
  }




  .select2-drop {
    border: none;
    background-color: #f1f1f1f1;

    .select2-search {
      padding-left: 0;
      padding-right: 0;
    }

    .select2-results {
      border-radius: 0;
      border: 2px solid #252525;
      background-color: #f1f1f1f1 !important;
      box-shadow: none;
    }

    input {
      border: 2px solid #252525;
      border-radius: 0 !important;
      background-color: #f1f1f1f1 !important;
      box-shadow: none;
      background: url(../images/png/select2.png) no-repeat 100% -22px, linear-gradient(to bottom, #f1f1f1f1 85%, #f1f1f1f1 99%) 0 0 !important;
    }
  }

  .controls {

    display: inline-block;
    width: 100%;

    input {
      border-width: 2px !important;
      border-radius: 0 !important;
      border-color: #252525 !important;
      background-color: #f1f1f1f1 !important;
      box-shadow: none;
      font-size: 17px !important;

      &::-webkit-input-placeholder {
        font-weight: 300;
        color: #707070
      }

      &::-moz-placeholder {
        font-weight: 300;
        color: #707070
      }
    }

    textarea,
    .select2-container,
    .select-field,
    select {
      border-radius: 0;
      border: 2px solid #252525;
      background-color: #f1f1f1f1 !important;
      box-shadow: none;
      width: 100% !important;
      font-size: 17px;

      &::-webkit-input-placeholder {
        font-weight: 300;
        color: #707070
      }

      &::-moz-placeholder {
        font-weight: 300;
        color: #707070
      }

      a {
        background-color: #f1f1f1f1 !important;
      }

      &#s2id_field-closed_tag,
      &#s2id_field-tags {
        border-width: 2px !important;
      }

      .select2-choices {
        background-color: #f1f1f1f1 !important;
        border: none;
        box-shadow: none;
      }

      .select2-arrow {
        border: none !important;
        background-color: #f1f1f1f1 !important;
        background-image:
          linear-gradient(45deg, transparent 50%, black 50%),
          linear-gradient(135deg, black 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc) !important;
        background-position:
          calc(100% - 9px) calc(1em),
          calc(100% - 4px) calc(1em),
          calc(100% - 2.5em) 0.5em !important;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em !important;
        background-repeat: no-repeat !important;

        b {
          display: none !important;
        }
      }

    }
  }

  .dataset-form {

    .image-upload {
      //margin-top: 80px;

      .btn-simple {
        border: 0.5px solid #707070;
        color: #262626;
        margin-right: 15px;
        margin-top: 10px;
        padding: 10px;
      }
    }

    .resource-help-block {
      font-size: 1.3rem;
      font-weight: 300;
      margin-bottom: 50px;
      color: #707070;
    }

    label {
      font-size: 13px;
      font-weight: 700;
      padding-left: 10px;
      color: #707070;
      line-height: 20px;
      margin-bottom: 6px !important;
      width: auto;
      display: block;
      text-align: left !important;

      &:after {
        content: none;
      }
    }



    .spacing {
      margin-bottom: 70px;
    }

    .controls-image {
      margin-top: 15px;
    }

    i {
      margin-right: 5px;
    }

    .steps {
      list-style-type: none;
      margin-bottom: 30px;
      display: table;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 80px;
      //margin-left: 45px;

      .step {
        display: table-cell;
        position: relative;
        padding: 24px;
        width: 33.33%;

        &.first {
          .circle {
            margin-left: 0;
          }

          .step-title {
            margin-left: -30px;
            text-align: left;
          }
        }

        &.middle {
          .bar-left {
            right: 50%
          }

          .bar-right {
            left: 50%
          }
        }

        &.last {
          .circle {
            margin-right: 0;
          }

          .step-title {
            text-align: right;
          }
        }

        .circle {
          width: 30px;
          height: 30px;
          border-radius: 30px;
          font-size: 18px;
          color: #fff;
          line-height: 30px;
          text-align: center;
          background: $data-color;
          margin: 0 auto;

          &.inactive {
            background: $details-grey;
          }

          span {
            font-weight: 400;
          }

          .check {
            display: inline-block;
            transform: rotate(45deg);
            height: 17px;
            width: 10px;
            border-bottom: 2px solid;
            border-right: 2px solid;
          }
        }

        .step-title {
          margin-top: 12px;
          text-align: center;
          font-weight: 400;
          font-size: 15px;
          color: $details-grey;
        }

        .bar-left {
          right: 20%;
          left: 0;
          margin-right: 20px;
          position: absolute;
          top: 36px;
          height: 1px;
          border-top: 1px solid #BDBDBD;
        }

        .bar-right {
          right: 0;
          left: 20%;
          margin-left: 20px;
          position: absolute;
          top: 36px;
          height: 1px;
          border-top: 1px solid #BDBDBD;
        }

        &:first-child .bar-left {
          display: none;
        }

        &:last-child .bar-right {
          display: none;
        }
      }
    }

    .msg-finish {
      margin-top: 50px;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
    }

    .msg-done {
      margin-top: 100px;
    }

    .form-actions {
      margin-top: 100px;
      text-align: center;

      .btn-previous {
        width: 190px;
        height: 50px;
        border-radius: 25px;
        border: 0;
        font-size: 18px;
        color: #fff;
        line-height: 30px;
        text-align: center;
        background: #BCBCBC;


      }

      .btn-round {
        width: 410px;
        height: 50px;
        border-radius: 25px;
        border: 0;
        font-size: 18px;
        color: #fff;
        line-height: 30px;
        text-align: center;
        background: $data-color;
        display: inline-block;

        &.delete {
          width: 190px;
          background: #ac2925;

        }

        &.previous {
          width: 190px;
          background: #BCBCBC;

          .previous-sign {
            display: inline-block;
            transform: rotate(45deg);
            height: 15px;
            width: 15px;
            border-bottom: 2px solid;
            border-left: 2px solid;
            margin-left: 7px;
            margin-right: 6px;

          }
        }
      }

    }

    .btn-add-more {
      border: 1px solid #262626;
      float: left;
      background: none;
      outline: inherit;
      font-size: 40px;
      font-weight: 300;
      line-height: 40px;
      padding: 0px 50px;

      margin-bottom: 20px;
    }

    .help-block {
      margin-bottom: 12px;
      margin-top: 12px;
      font-size: 1.3rem;
      font-weight: 300;

      a {
        font-weight: 600;
        text-decoration: underline !important;
        color: inherit;
      }
    }



    .disclaimer,
    .control-required-message {
      margin: 20px 0 0 0;
      font-weight: 300;
      font-size: 13px;
      text-align: left;
      float: left;

      a {
        font-weight: 600;
        text-decoration: underline !important;
        color: inherit;
      }
    }


    .form-separator {
      width: 105%;
      display: block;
      height: 1px;
      border: 0;
      border-top: 2px solid #262626;
      padding: 0;
      margin: 20px 5px 50px -15px;
    }

    .control-required {
      color: red;
    }
  }

  .threesteps {
    .module-content {
      padding: 42px;
    }
  }

  .unavailable::-webkit-input-placeholder {
    /* Chrome */
    color: red !important;
  }

  .unavailable::-moz-placeholder {
    /* Firefox 19+ */
    color: red !important;
  }

  .popover-followee {
    left: -74px !important;
  }
  a{
    text-decoration: none !important;
  }
}